.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  width: 500px;
  height: 260px;
  box-sizing: border-box;
  position: relative;
}


.imageContainer {
  position: relative;
  width: 210px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
}

.image {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  z-index: 1;
}

.details {
  margin-left: 20px;
  flex-grow: 1;
  text-align: left;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 0px;
  right: 20px;
}

.status {
  font-size: 14px;
  color: #999;
}

.icon {
  color: #ccc;
  width: 24px;
  height: 24px;
}

.name {
  font-size: 25px;
  font-weight: 600;
  color: #081F32;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 24px;
  color: #374A59;
}

.infoList strong {
  font-weight: bold;
}

/* Estilos específicos para vista móvil */
@media (max-width: 768px) {
  
  .card {
    flex-direction: column;
    height: auto;
    max-width: 140px;
    max-height: 180px;
  }

  .imageContainer {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
    padding: 10px 0;
  }

  .image {
    width: 80px;
    height: 80px;
  }

  .details {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
  }

  .name {
    font-size: 14px;
    margin-top: px;
  }

  .status {
    font-size: 12px;
  }

  .infoList {
    display: none;
  }
}